
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.board {
  border: 1rem solid red;
  background: blue;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.square {
  background: #272727;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

