
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
}

body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.board {
  border: none;
  background: black;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
}

.square {
  background: white;
  border: none;
  font-size: 8rem;
  cursor: pointer;
  outline: none;
}

.resetButton{
   width: 30%;
   display:inline-block;
   padding:0.5em 3em;
   border:0.16em solid black;
   margin-top: 5em;
   box-sizing: border-box;
   text-decoration:none;
   text-transform:uppercase;
   font-weight:400;
   color: black;
   text-align:center;
   transition: all 0.15s;
  }
  .resetButton:hover{
   color:#949494;
   border-color:#949494;
  }

  #root {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
